---
import { getCollection } from 'astro:content'
import { GalleryHelper } from '../../utils/gallery'
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
	const collection = await getCollection('gallery')
	return collection
		.map((g) => ({ helper: new GalleryHelper(g), entry: g }))
		.map(({ helper, entry }) => ({
			params: { slug: helper.slugUrl },
			props: entry,
		}))
}
const gallery = new GalleryHelper(Astro.props)
---

<BaseLayout>
	<div class="container">
	<h1 class="text-3xl font-bold">{gallery.title}</h1>
	{
		gallery.gallerySections.map((section) => (
			<h2 class="text-xl font-semibold">{section.title}</h2>
			<div class="flex flex-wrap gap-1">
				{
					section.images.map(async image=>(
						<img class="h-64 object-cover object-center rounded-sm" src={await image.getUrl()} alt="">
					))
				}
				<div class="grow-999"></div>
			</div>
		))
	}
	</div>
</BaseLayout>

<style>
	
.container {
	h1 {
		margin: 1rem 0;
	}
	h2 {
		margin: 0.5rem 0;
	}
}
</style>
