---
import { getCollection } from 'astro:content'
import { GalleryHelper } from '../../utils/gallery'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { AdaptiveImageList } from '../../components/solid/AdaptiveImageList/AdaptiveImageList'

export async function getStaticPaths() {
	const collection = await getCollection('gallery')
	return collection
		.map((g) => ({ helper: new GalleryHelper(g), entry: g }))
		.map(({ helper, entry }) => ({
			params: { slug: helper.slugUrl },
			props: entry,
		}))
}
const gallery = new GalleryHelper(Astro.props)
---

<BaseLayout>
	<div class="container">
		<h1 class="text-3xl font-bold">{gallery.title}</h1>
		{
			gallery.gallerySections.map(async (section) => (
				<Fragment>
					<h2 class="text-xl font-semibold">{section.title}</h2>

					<AdaptiveImageList
						client:only="solid"
						images={await Promise.all(
							section.images.map(async (img) => ({
								src: await img.getUrl(),
								alt: img.description,
								description: img.description,
							})),
						)}
					/>
				</Fragment>
			))
		}
	</div>
</BaseLayout>

<style>
	.container {
		h1 {
			margin: 1rem 0;
		}
		h2 {
			margin: 0.5rem 0;
		}
	}
</style>
