---
import moment from 'moment'
import type { AnyEntryMap } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'

type BlogEntryMap = AnyEntryMap['blog']

interface Props extends HTMLAttributes<'div'> {
	posts: Array<BlogEntryMap[keyof BlogEntryMap]>
}

const { posts, class: className } = Astro.props
---

<div class:list={['flex flex-col gap-2', className]}>
	{
		posts.map((post) => (
			<a
				href={`/blog/${post.id}`}
				class="glassmorphism rounded-xl p-4 md:p-6 break-all"
			>
				<h2 class="text-lg md:text-2xl font-bold mb-2">{post.data.title}</h2>
				<p class="mb-2 md:mb-4">{post.data.description}</p>
				<p class="text-sm">{moment(post.data.pubDate).format('YYYY-MM-DD')}</p>
			</a>
		))
	}
</div>
