---
import moment from 'moment'
import type { AnyEntryMap } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'

type BlogEntryMap = AnyEntryMap['blog']

interface Props extends HTMLAttributes<'div'> {
	posts: Array<BlogEntryMap[keyof BlogEntryMap]>
}

const { posts, class: className } = Astro.props
---

<div
	class:list={[
		'flex flex-col gap-6',
		'2xl:block 2xl:columns-2 lg:gap-8',
		className,
	]}
>
	{
		posts.map((post) => (
			<a href={`/blog/${post.id}`}>
				<article
					class:list={[
						'transition-all',
						'break-all',
						'glassmorphism hover:scale-102 hover:shadow-lg',
						'sm:border-none sm:neumorphism-bulge-xs sm:hover:neumorphism-sunken-xs sm:hover:scale-99',
						'p-4 md:p-6',
						'rounded-3xl',
						'break-inside-avoid',
						'2xl:mb-8',
					]}
				>
					<h2 class="text-lg md:text-2xl font-bold mb-2">{post.data.title}</h2>
					<p class="mb-2 md:mb-4">{post.data.description}</p>
					<p class="text-sm">
						{moment(post.data.pubDate).format('YYYY-MM-DD')}
					</p>
				</article>
			</a>
		))
	}
</div>
