---
import { slugifyBlogPostUrl } from '../utils/slugify-blog-post-url'
import moment from 'moment'
import type { AnyEntryMap } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'

type BlogEntryMap = AnyEntryMap['blog']

interface Props extends HTMLAttributes<'div'> {
	posts: Array<BlogEntryMap[keyof BlogEntryMap]>
}

const { posts, class: className } = Astro.props
---

<div
	class:list={[
		'flex flex-col gap-6',
		'xl:block xl:columns-2 2xl:columns-3 lg:gap-8',
		className,
	]}
>
	{
		posts.map((post) => (
			<a href={`/blog/${slugifyBlogPostUrl(post.id)}`}>
				<article
					class:list={[
						'transition-all',
						'break-all',
						'neumorphism-bulge-xs hover:neumorphism-sunken-xs',
						'p-6',
						'rounded-3xl',
						'hover:scale-99',
						'break-inside-avoid',
						'lg:mb-8',
					]}
				>
					<h2 class="text-2xl font-bold mb-2">{post.data.title}</h2>
					<p class="mb-4">{post.data.description}</p>
					<p class="text-sm">
						{moment(post.data.pubDate).format('YYYY-MM-DD')}
					</p>
				</article>
			</a>
		))
	}
</div>
