---
import { ClientRouter } from 'astro:transitions'
import '../assets/css/global.css'

export interface Props {
	title?: string
	description?: string
}

const { title, description } = Astro.props
---

<html lang="zh-CN" class="no-scrollbar">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{description && <meta name="description" content={description} />}
		{title && <title>{title}</title>}
		<ClientRouter />
	</head>
	<body>
		<slot />
	</body>
</html>
