---
import { ClientRouter } from 'astro:transitions'
import '../assets/css/global.css'
import type {HTMLAttributes}from "astro/types"

export interface Props extends HTMLAttributes<"body"> {
	title?: string
	description?: string
}

const { title, description , ...bodyProps} = Astro.props
---

<html lang="zh-CN" class="no-scrollbar">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{description && <meta name="description" content={description} />}
		{title && <title>{title}</title>}
		<ClientRouter />
	</head>
	<body {...bodyProps}>
		<slot />
	</body>
</html>
