---
import moment from 'moment'
import { config } from '../consts'
import BaseLayout from '../layouts/BaseLayout.astro'

type Props = {
	title: string
	pubDate?: Date
	frontmatter?: {
		title?: string
		pubDate?: Date
	}
}

const props = Astro.props

const title = props.frontmatter?.title ?? props.title
const pubDate = props.frontmatter?.pubDate ?? props.pubDate
---

<BaseLayout>
	<div class="flex flex-col">
		<header
			class="neumorphism-bulge-xs p-6 rounded-full flex items-center gap-6"
		>
			<img
				src={config.author.avatar.url}
				alt={config.author.avatar.alt}
				class="size-18 rounded-full select-none"
				transition:name="avatar"
			/>
			<div class="flex flex-col gap-2">
				<p class="break-all text-lg md:text-xl font-bold">
					{title}
				</p>
				<p class="text-sm">
					{config.author.name}
					{pubDate ? '·' : ''}
					{pubDate ? moment(pubDate).format('YYYY-MM-DD') : ''}
				</p>
			</div>
		</header>
		<article
			class:list={[
				'p-6 rounded-3xl max-w-full',
				'prose prose-headings:no-underline dark:prose-invert',
			]}
		>
			<slot />
		</article>
	</div>
</BaseLayout>
