---
import BaseLayout from '../../layouts/BaseLayout.astro'
import FinderButton from '../../components/astro/FinderButton.astro'
import { getNavigationConditions } from '../../utils/navigation'

const browseIcon = 'icon-[material-symbols--folder-open-outline]'
const galleryIcon = 'icon-[material-symbols--image-outline]'
const friendLinksIcon = 'icon-[icon-park-outline--friends-circle]'

const { showGallery, showFriendLinks, showShare } =
	await getNavigationConditions()
---

<BaseLayout showAuthorInfo>
	<div class="max-sm:glassmorphism flex flex-col rounded-lg gap-1 p-1">
		{
			showShare && (
				<FinderButton href="/browse">
					<i slot="icon" class:list={[browseIcon, 'size-6']} />
					Share
				</FinderButton>
			)
		}
		{
			showGallery && (
				<FinderButton href="/gallery">
					<i slot="icon" class:list={[galleryIcon, 'size-6']} />
					Gallery
				</FinderButton>
			)
		}
		{
			showFriendLinks && (
				<FinderButton href="/friend-links">
					<i slot="icon" class:list={[friendLinksIcon, 'size-6']} />
					Friends
				</FinderButton>
			)
		}
	</div>
</BaseLayout>
