@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@theme {
	--color-primary: #008f79;
	--color-primary-fg: #ffffff;
}

@utility neumorphism-sunken {
	background: #008f79;
	box-shadow:
		inset 5px 5px 10px #00816d,
		inset -5px -5px 10px #009d85;
}

@utility neumorphism-bulge {
	background: #008f79;
	box-shadow:
		5px 5px 10px #00816d,
		-5px -5px 10px #009d85;
}

body {
	background-color: #008f79;
	color: white;
}
