@import 'tailwindcss' source('../../../../src');
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";

@theme {
	--color-primary: #2ec4b6;
	--color-primary-fg: #ffffff;
}

:root {
	@media (prefers-color-scheme: dark) {
	}
}

body {
	background-attachment: fixed;
	background-image: url('../background/xiaogou.jpg');
	@apply min-h-screen bg-no-repeat bg-cover;
}

@utility glassmorphism {
	@apply bg-white/20 backdrop-blur-sm;
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility col-count-* {
	column-count: --value(integer);
}

@utility col-gap-* {
	column-gap: --spacing(--value(integer));
}

.prose {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		> a:nth-child(1) {
			@apply no-underline;

			&:hover {
				@apply underline relative;
				&::before {
					@apply absolute -left-1 md:block hidden;
					content: '#';
					transform: translateX(-100%);
				}
			}
		}
	}
	.footnotes {
		.sr-only {
			@apply hidden;
		}

		&::before {
			content: '';
			@apply block border-b opacity-80;
		}
	}
}
