---
import type { HTMLAttributes } from 'astro/types'

export type Props = Omit<HTMLAttributes<'a'>, 'class:list'> & {
	active?: boolean
}

const { class: className, active, ...props } = Astro.props
---

<a
	class:list={[
		'transition-all flex flex-col items-center justify-center py-2 rounded-md max-sm:gap-0.5',
		'sm:flex-row sm:justify-start sm:gap-4 sm:px-4 border-none',
		className,
		active ? ' sm:glassmorphism' : '',
	]}
	role="button"
	tabindex="0"
	{...props}
>
	<div class="flex justify-center items-center">
		<slot name="icon" />
	</div>
	<div class="text-xs sm:text-base select-none">
		<slot />
	</div>
</a>
