---
import moment from 'moment'
import type { HTMLAttributes } from 'astro/types'
import { config } from '../../consts'
import { slugifyBlogPostUrl } from '../../utils/slugify-blog-post-url'
import type { ProcessedPost } from '../../utils/fallback-blog-frontmatter'

interface Props extends HTMLAttributes<'div'> {
	posts: Array<ProcessedPost>
}

const { posts, class: className } = Astro.props
---

<div
	class:list={[
		'flex flex-col gap-2 max-sm:glassmorphism rounded-lg',
		className,
	]}
>
	{
		posts.map((post, index) => (
			<Fragment>
				<a href={`/blog/${post.frontMatter.slug}`} class="p-4 md:p-6 break-all">
					<h2 class="text-lg md:text-2xl font-bold mb-2">
						{post.frontMatter.title}
					</h2>
					<p class="mb-2 md:mb-4">{post.frontMatter.description}</p>
					<p class="text-sm">
						{moment(post.frontMatter.publishDate).format('YYYY-MM-DD')}
					</p>
				</a>
				{index !== posts.length - 1 && (
					<span class="mx-auto my-2 w-[95%] h-[0.1px] bg-white/80" />
				)}
			</Fragment>
		))
	}
</div>
